<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-adyen" version="0.0.2" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>AdyenPlugin</name>
    <description>Adyen SDK quick integration support for Cordova</description>
    <keywords>adyen, payments</keywords>

    <engines>
        <engine name="cordova" version=">=8.0.0" />
        <engine name="cordova-ios" version=">=5.0.0" />
        <engine name="apple-ios" version=">=9.0.0" />
    </engines>

    <asset src="www/adyen.js" target="js/adyen.js"/>

    <js-module name="AdyenPlugin" src="www/adyen.js">
        <clobbers target="AdyenPlugin" />
    </js-module>
    
    <platform name="ios">
         <podspec>
            <config>
              <source url="https://github.com/CocoaPods/Specs.git" />
            </config>
            <pods use-frameworks="true">
                <pod name="Adyen" spec="~>  1.16.0" />
                  <pod name="AcknowList" />

            </pods>
        </podspec>
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="AdyenPlugin">
                <param name="ios-package" value="AdyenPlugin" />
            </feature>
        </config-file>
        
        <source-file src="src/ios/AdyenPlugin.swift" />
        <framework src="Adyen" type="podspec" spec="1.16.0"/>


        <hook type="before_compile" src="scripts/fixCB12212.js" />
    </platform>
</plugin>
